flask
flask-cors
flask-jwt-extended
torch
torchvision
transformers
diffusers
accelerate
safetensors
huggingface-hub
pillow
numpy
requests
python-multipart
pydantic
einops
sentencepiece
protobuf
invisible-watermark
opencv-python
psutil
pyngrok