flask
flask-cors
flask-jwt-extended
# torch
torchvision
transformers
diffusers
accelerate
safetensors
huggingface-hub
pillow
# numpy<2.0
peft<=0.6.2
# requests
python-multipart
pydantic
einops
sentencepiece
# protobuf
invisible-watermark
opencv-python
psutil
pyngrok